openapi: 3.0.3
info:
  title: GSG Farm API
  version: 0.1.0
  description: API for Two Butterflies Homestead farm monitoring system
servers:
  - url: https://api.greenstem.global
    description: Production server
  - url: https://api-sbx.greenstem.global
    description: Sandbox server
paths:
  /farms/2BH/summary:
    get:
      summary: Get farm summary
      description: Returns current farm status including weather, NDVI, and operations
      responses:
        '200':
          description: Farm summary data
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  location:
                    type: string
                  coords:
                    type: object
                  last_ndvi:
                    type: object
                    properties:
                      value:
                        type: number
                      timestamp:
                        type: string
                      unit:
                        type: string
                  last_weather:
                    type: object
                  next_harvest_eta:
                    type: string
                  last_ops_event:
                    type: object
                  freshness:
                    type: object
  /farms/2BH/readings:
    get:
      summary: Get sensor readings
      description: Returns time-series sensor data for weather and satellite metrics
      parameters:
        - in: query
          name: since
          schema:
            type: string
            format: date-time
          description: ISO timestamp to fetch readings from
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
          description: Maximum number of readings to return
        - in: query
          name: sensor
          schema:
            type: string
          description: Filter by specific sensor type
      responses:
        '200':
          description: Sensor readings
          content:
            application/json:
              schema:
                type: object
                properties:
                  farm_id:
                    type: string
                  readings:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                        sensors:
                          type: object
                  count:
                    type: integer
                  has_more:
                    type: boolean
  /farms/2BH/ops:
    get:
      summary: Get operations events
      description: Returns list of farm operations and activities
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
          description: Maximum number of events to return
      responses:
        '200':
          description: Operations events
          content:
            application/json:
              schema:
                type: object
                properties:
                  farm_id:
                    type: string
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        event_id:
                          type: string
                        type:
                          type: string
                        note:
                          type: string
                        media_urls:
                          type: array
                          items:
                            type: string
                        created_at:
                          type: string
                        created_by:
                          type: string
                  count:
                    type: integer
                  has_more:
                    type: boolean
  /ops:
    post:
      summary: Create operations event
      description: Log a new farm operation or activity
      security:
        - cognitoAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - note
              properties:
                type:
                  type: string
                  enum:
                    - inspection
                    - planting
                    - fertilizing
                    - irrigation
                    - pest_control
                    - harvesting
                    - maintenance
                    - weather_event
                    - other
                note:
                  type: string
                  description: Description of the operation
                media_base64:
                  type: array
                  items:
                    type: string
                  description: Base64 encoded images
      responses:
        '200':
          description: Event created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  event_id:
                    type: string
                  timestamp:
                    type: string
                  media_urls:
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized
        '400':
          description: Bad request
components:
  securitySchemes:
    cognitoAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito User Pool JWT token